@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
} */
#load {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  background: #202743 url("./images/Frame 3.gif") no-repeat center center;
}

html,
body {
  overflow-x: hidden;
}

body {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 767px) {
  html,
  body {
    margin-top: 0px;
    overflow-x: hidden;
  }
}

/* landin page css */

#landing_page {
  background-color: #202743;
  color: white;
  min-height: 100vh;
  /* height:100vh; */
}

.wavesbg {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 30vw;
}

.landing_page_content {
  margin-top: 11vh;
  margin-bottom: 15vh;
}

.arrow_class {
  padding-bottom: 6vh;
}

.squaredots {
  margin-top: 8rem;
}

.landing_para {
  text-align: right;
  /* font-size: 20px; */
  font-size: 1.75em;
  font-weight: 350;
}

.landing_head {
  text-align: right;
  font-size: 50px;
  /* font-size: 4.70em; */
  padding-bottom: 2vh;
}

#navbaritems a {
  font-size: 1.15em;
  color: white;
  padding-left: 2em;
}

.nav_div {
  padding-top: 3vh;
}

/* our focus page */

#our_focus {
  margin-top: 16vh !important;
}

.binocularimage {
  max-height: 10vh;
  margin-bottom: 5vh;
}

.binoculardiv {
  margin-top: 2vh;
}

.ourfocusheading {
  font-family: "Roboto", sans-serif;
  margin-bottom: 5vh;
  /* font-size: 3.5em; */
  font-size: 48px;
  font-weight: 475;
}

.ourfocuspara {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-bottom: vh;
  /* font-size: 16px; */
  font-size: 1.35em;
  font-weight: 400;
}

.Lorempara {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-bottom: vh;
  font-size: 1.2em;
  font-weight: 375;
}

/* slider css */

#slider [type="radio"] {
  display: none;
}

#slider {
  height: 25vw;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  margin-bottom: 10rem;
  max-width: 99%;
}

#slider label {
  margin: auto;
  width: 40%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: transform 0.4s ease;
}

#slider label i span {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  padding: 1px 0 0 14px;
}

#slider label i {
  padding: 30px;
}

@media only screen and (max-width: 767px) {
  #slider label i span {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
  }
}

/* left prev  */

#s1:checked ~ #slide4,
#s3:checked ~ #slide1 {
  opacity: 0.7;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  transform: translate3d(-92%, 0, -277px);
}

#s4:checked ~ #slide3 {
  opacity: 0.7;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(-92%, 0, -277px);
}

#s3:checked ~ #slide4 {
  opacity: 0.7;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(92%, 0, -277px);
}

/* next  */

#s1:checked ~ #slide3,
#s4:checked ~ #slide1 {
  opacity: 0.7;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  transform: translate3d(92%, 0, -277px);
}

#slider_mobile {
  display: none;
}

@media only screen and (max-width: 767px) {
  #slider {
    display: none;
  }
  #slider_mobile {
    display: block;
  }
}

/* Student partnership css */

#student_partnerships {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-color: #202743;
  color: white;
}

.partner_head {
  margin-top: 9vh;
  margin-bottom: 5vh;
}

.partner_headingtag {
  font-size: 3em;
}

.msa_image {
  height: 16vh;
}

.partner_row2 {
  padding-bottom: 8vh;
}

.partners_para {
  font-size: 1.15em;
  text-align: center;
  padding-bottom: 5vh;
  font-weight: 350;
}

.snapchat_image {
  height: 15vh;
}

.amazon_div {
  padding-right: 5em;
}

#ImgAlexaSnap img {
  margin-top: 5vh;
  height: 15vh;
  margin-bottom: 5vh;
}

/* about app css */

#about_app {
  background-color: #13137a;
}

.appimage {
  height: 100%;
}

.aboutappclass {
  margin-top: 20vh;
  color: white;
}

.aboutappimageclass {
  margin-top: 10vh;
  height: 60vh;
  margin-bottom: 7vh;
}

.gplayimag {
  /* max-height: 15vh;
  max-width: 15vh; */
}

.qrimage {
  max-height: 15vh;
  max-width: 15vh;
}

.aboutappheading {
  font-size: 2.25em;
  padding-bottom: 2vh;
  font-weight: 400;
}

.anoutapppara {
  font-size: 1.2em;
  font-weight: 350;
  padding-bottom: 5vh;
}

/* board page css */

@media only screen and (max-width: 768px) {
  /* landin page css */
  .wavesbg {
    display: none;
  }
  #landingpage_first {
    order: 2;
  }
  #landingpage_second {
    order: 4;
  }
  .landing_head {
    text-align: center;
    font-size: 2.5em;
    padding-bottom: 2vh;
  }
  .landing_para {
    text-align: center;
    font-size: 1.25em;
    font-weight: 300;
    padding-bottom: 5vh;
  }
  .landing_page_content {
    margin-top: 5vh;
    margin-bottom: 8vh;
  }
  .nav_div {
    padding-top: 1vh;
  }
  .arrow_class {
    padding-bottom: 5vh;
  }
  #landing_page {
    background-image: url("");
  }
  /* our focus page */
  #our_focus {
    background-image: url("");
    background-repeat: no-repeat;
    background-position: right top;
  }
  .squaredots {
    display: none;
  }
  .Lorempara {
    padding-bottom: 10vh;
  }
  .binoculardiv {
    margin-top: 6vh;
  }
  .ourfocuspara {
    margin-bottom: 15vh;
    font-size: 1.2em;
    font-weight: 375;
  }
  /* Student partnership css  */
  .partners_para {
    font-size: 1.15em;
    text-align: center;
    padding-bottom: 5vh;
    font-weight: 350;
  }
  .partner_headingtag {
    font-size: 2.1em;
  }
  /* about app css */
  .aboutappheading {
    text-align: center;
    font-size: 2em;
    padding-bottom: 2vh;
    font-weight: 400;
  }
  .aboutappclass {
    margin-top: 7vh;
    color: white;
  }
  .anoutapppara {
    text-align: center;
    font-size: 1.2em;
    font-weight: 300;
    padding-bottom: 5vh;
    padding-top: 5vh;
  }
  .qrimage {
    margin-top: 3vh;
  }
  .aboutappimageclass {
    margin-top: 5vh;
    height: 60vh;
    margin-bottom: 7vh;
  }
}

@media only screen and (max-width: 800px) {
  .circle {
    /* width: 23vw; */
    width: 18vw;
  }
  .boarddots {
    /* width: 15vw; */
    width: 11vw;
  }
}

.board {
  font-family: "Roboto", sans-serif;
}

.b_heading {
  font-family: sans-serif;
  font-size: 3rem;
  margin-top: 20vmin;
}

.b_pics {
  font-family: "Roboto", sans-serif;
  font-size: larger;
  margin-top: 6em;
}

.b_pics p.h5 {
  font-weight: bold;
  text-align: center;
}

.b_pics span.lead {
  font-family: "Roboto", sans-serif;
  margin-top: -3px;
  margin-bottom: 15vmin;
  font-size: 16px;
  text-align: center;
  /* overflow: hidden;
  white-space: nowrap; */
}

/* @media only screen and (max-width: 487px) {
  .b_pics p {
    overflow: hidden;
    white-space: nowrap;
  }
} */

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 600px) {
  .b_pics .row {
    font-family: "Roboto", sans-serif;
  }
  .b_pics .row p {
    margin-top: 0.5px;
    font-size: 1rem;
    text-align: center;
  }
  .b_pics span.lead {
    text-align: center;
  }
}

/* one.html */

.domains {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.domains .h5 {
  font-weight: 400;
}

.domain_heading {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  margin-top: 17vmin;
  margin-bottom: 5vmin;
}

.domain_row_2 .h5 {
  font-family: "Raleway", sans-serif;
  margin-top: 10vmin;
  font-weight: bold;
}

.domain_row_3 .about_domains {
  margin-top: 10vmin;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

.domains_mobile_view {
  display: none;
}

@media only screen and (max-width: 767px) {
  .domains_mobile_view {
    display: block;
    margin-bottom: 15vmin;
  }
  .domains_mobile_view .carousel-item {
    height: 30rem !important;
  }
  .domains_mobile_view .carousel-control-prev .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 2rem;
    height: 15rem;
  }
  .domain_row_2 {
    display: none;
  }

  .domains_mobile_view .arrow-left,
  .domains_mobile_view .arrow-right {
    height: 2rem;
  }
}

/* contact us page */

.contact_us_page {
  margin-top: -4rem;
  margin-bottom: 20vmin;
}

.contact_us_page .container {
  height: fit-content;
}

.contact_us_page .container .row {
  height: fit-content;
}

.contact_us_page .contact_us_heading {
  font-family: "Roboto", sans-serif;
  margin-top: 20vmin;
  font-size: 3rem;
}

.contact_us_form {
  position: relative;
  margin-top: 5vmin;
}

.contact_us_form input {
  /* width: 582px; */
  width: 80vmin;
  height: 96px;
  background-color: #f8f8f8;
  border: 1px solid #3e3e3e;
  border-radius: 10px;
  padding-left: 5rem;
}

.contact_us_form .form-group label {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

.contact_us_form textarea {
  position: relative;
  width: 80vmin;
  height: 200px;
  background-color: #f8f8f8;
  border: 1px solid #3e3e3e;
  border-radius: 10px;
  padding-left: 5rem;
  padding-top: 1em;
  color: black;
}

.contact_us_button button {
  border-radius: 10px;
  height: 42px;
  width: 10rem;
  margin-top: 2vmin;
}

/* footer */

.footer_stc {
  background-color: black;
  font-family: "Raleway", sans-serif;
  color: #fff;
  /* height: 100vh; */
}

.footer_stc .footer_row_one ul {
  list-style: none;
}

.footer_stc .footer_row_one .col-md-4 {
  margin-top: 15vmin;
}

.footer_stc .footer_row_one .col-md-4 img {
  padding: 0rem 1rem;
}

.footer_stc .footer_row_one ul li {
  padding: 1.5rem 0rem;
}

.footer_stc .footer_row_one ul li a {
  color: #fff;
}

.footer_row_3 p {
  margin-top: 5vmin;
}

#footer_mobile {
  display: none;
}

@media only screen and (max-width: 767px) {
  /* #slider {
        display: none;
    } */
  .footer_stc {
    display: none;
  }
  #footer_mobile {
    display: block;
    background-color: black;
    font-family: "Raleway", sans-serif;
    color: #fff;
    min-height: 100vh;
  }
  #footer_mobile .row_link ul,
  .row_get_touch ul {
    list-style: none;
  }
}

/* nav */

#SideNav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

#SideNav a {
  padding: 8px 8px 30px 0px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#SideNav a:hover {
  color: #f1f1f1;
}

.leftArrow {
  height: 4rem;
}

.rightArrow {
  height: 4rem;
}

#SideNav .closebtn {
  /* position: absolute;
    top: 0;
    right: 25px; */
  font-size: 36px;
  /* margin-left: 50px; */
}

@media (max-width: 768px) {
  .navbar-dark .navbar-nav {
    display: none;
  }
  #SideNav {
    padding-top: 15px;
  }
  #SideNav a {
    font-size: 18px;
  }
  .mobilehome {
    margin-top: 10vh;
  }
  .gplayimag {
    max-height: 20vh;
    max-width: 20vh;
  }
}

@media only screen and (max-width: 768px) and (min-width: 600px) {
  .qrimage {
    max-height: 12vh;
    max-width: 12vw;
  }
}

/* arrow */

.demo a {
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 "Josefin Sans", sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
}

.demo a:hover {
  opacity: 0.5;
}

/* #section05 a {
    padding-top: 5rem;
} */

#landscapeMode {
  display: none;
}

.landscapehead {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

#section05 a span {
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@media only screen and (max-width: 322px) {
  .lead {
    font-size: 1rem !important;
    padding-right: 0.5rem;
  }
  .mobileCard {
    padding-left: 0rem;
  }
  .leftArrow {
    height: 2rem;
    padding-right: 1.25rem;
  }
  .rightArrow {
    height: 2rem;
    padding-left: 1.25rem;
  }
}

@media only screen and (max-width: 640px) {
  @media screen and (orientation: landscape) {
    #landscapeMode {
      display: block !important;
      background-color: #202743;
      color: #fff;
      height: 100vh;
    }
    section:not([name="landscapeMode"]) {
      display: none;
    }
    #slider_mobile {
      display: none !important;
    }
    #footer_mobile {
      display: none !important;
    }
    .circle {
      display: none !important;
    }
  }
}
@media (min-width: 767px) and (max-width: 836px) {
  @media screen and (orientation: landscape) {
    #landscapeMode {
      display: block !important;
      background-color: #202743;
      color: #fff;
      height: 100vh;
    }
    section:not([name="landscapeMode"]) {
      display: none;
    }
    #slider_mobile {
      display: none !important;
    }
    #footer_mobile {
      display: none !important;
    }
    .circle {
      display: none !important;
    }
  }
}
